.profileConfig{
  width: 100%;
  border-radius: 100rem;
  display: flex;
  flex-direction: row;
  padding: 4% 7%;
  align-items: center;
  margin-bottom: 2%;
}
.profileConfig:hover{
  background-color: rgba(107, 107, 107, 0.1);
  cursor: pointer;
}

.profileInfo{
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
