svg{
    height: 1.8rem;
}

a{
  display: flex;
  padding: 5% 5%;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  font-size: larger;
  color: black;
  margin: 3px 0;
}

a > div {
  margin: 0 15px;
}

a:hover{
  background-color: rgba(107, 107, 107, 0.1);
  border-radius: 100rem;
}
