app-return-bar{
  width: 100%;
  position: sticky;
  top: 0;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.tweetHolder{
  display: flex;
  flex-direction: column;
  width: 100%;
}


